@import '../../variables.scss';

section#one {
  background-color: $yellow;
  padding: 42px 6.25vw;
  height: 740px;
  width: 0%;

  .logo {
    width: 225px;
    height: 18px;
  }

  .phone {
    position: absolute;
    width: 341px;
    height: 730.43px;
    top: 108.57px;
    right: 0px;
    opacity: 0;
    background-image: url('../../assets/images/section1_phone.png');
    box-shadow: -14px 18px 29px 11px rgba(0,0,0,0.28);
    border-radius: 35px;
  }

  .text {
    opacity: 0;
    width: 827px;
    height: 276px;
    top: 100px;
    left: 95px;
    position: absolute;

    h1 {
      color: $white;
      font-size: 145px;
      line-height: 138px;
      letter-spacing: -4.103190898895264px;
      text-align: left;
    }

    span {
      font-family: Eina03;
      font-size: 16px;
      line-height: 54px;
      letter-spacing: -0.470588px;
      color: $gray;
      display: flex;
      align-items: center;
      font-weight: bold;

      &::after {
        margin-left: 50px;
        content: url('../../assets/images/arrow.svg');
      }
    }
  }

  .car-container {
    position: absolute;
    left: -100%;
    top: 630.25px;
    display: flex;
    align-items: center;
    height: 203.75px;
    width: 900px;

    .car {
      position: absolute;
  
      &.car3 {
        z-index: 3;
        transform: translate(12%, 10%);
      }

      &.car1 {
        transform: translate(76%);
      }

      &.car2 {
        transform: scaleX(-1) translate(21%);
        width: 66%;
      }
    }
  }
}

@media(max-width: 700px) {
  section#one { 
    padding: 42px 19px;
    height: 340px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .text {
      margin-top: 40px;
      position: initial;
      opacity: 1;
      width: 100%;

      h1 {
        font-size: 53px;
        width: 100%;
        line-height: 52px;
        letter-spacing: -1.49979px;
      }
    }

    .car-container {
      position: absolute;
      left: 0px;
      bottom: 0px;
      top: unset;
      display: flex;
      align-items: center;
      height: 90px;
      width: 100%;

      .car {
        position: absolute;

        &.car1 {
          width: 60%;
          bottom: -17px;
        }

        &.car2 {
          width: 60%;
          bottom: -32px;
          transform: scaleX(-1) translate(7%);
        }
    
        &.car3 {
          bottom: -34px;
          z-index: 3;
          width: 71%;
          transform: translateX(20%);
        }

      }
    }
  }
}

@media(min-width: 701px) and (max-width: 899px) {
  section#one { 
    padding: 42px 19px;
    height: 340px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    .text {
      margin-top: 40px;
      position: initial;
      opacity: 1;
      width: 100%;

      h1 {
        font-size: 53px;
        width: 100%;
        line-height: 52px;
        letter-spacing: -1.49979px;
      }
    }

    .car-container {
      position: absolute;
      left: 0px;
      bottom: -22px;
      top: unset;
      display: flex;
      align-items: center;
      height: 90px;
      width: 100%;

      .car {
        position: absolute;

        &.car1 {
          width: 60%;
          bottom: -17px;
        }

        &.car2 {
          width: 61%;
          bottom: -49px;
          transform: scaleX(-1) translate(7%);
        }
    
        &.car3 {
          bottom: -34px;
          z-index: 3;
          width: 71%;
          transform: translateX(20%);
        }

      }
    }
  }
}
