@import '../../variables.scss';

section#one {
  background-color: $yellow;
  padding: 42px 101px;
  height: 740px;
  width: 0%;
  

  .logo {
    width: 225px;
    height: 18px;
  }

  .phone {
    position: absolute;
    width: 341px;
    height: 730.43px;
    top: 108.57px;
    right: 0px;
    opacity: 0;
    background-image: url('../../assets/images/section1_phone.png');
  }

  .text {
    opacity: 0;
    width: 827px;
    height: 276px;
    top: 100px;
    left: 95px;
    position: absolute;

    h1 {
      color: $white;
      font-size: 145px;
      line-height: 138px;
      letter-spacing: -4.103190898895264px;
      text-align: left;
    }

    span {
      font-family: Eina03;
      font-size: 16px;
      line-height: 54px;
      letter-spacing: -0.470588px;
      color: $gray;
      display: flex;
      align-items: center;
      font-weight: bold;

      &::after {
        margin-left: 50px;
        content: url('../../assets/images/arrow.png');
      }
    }
  }

  .car-container {
    position: absolute;
    left: -100%;
    top: 630.25px;
    display: flex;
    align-items: center;
    height: 203.75px;
    width: 900px;

    .car {
      position: absolute;
  
      &.car3 {
        z-index: 3;
        transform: translate(12%, 10%);
      }

      &.car1 {
        transform: translate(70%);
      }
    }
  }
}
