@import '../../variables.scss';

section#five {
  padding: 210px 6.25vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .card {
    width: 25vw;
    height: 25vw;
    background-color: $card-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5vw;
    opacity: 0;
    position: relative;
    top: -20px;

    img {
      height: 47%;
    }

    h6 {
      font-family: Bebas Neue;
      font-size: 2vw;
      line-height: 88px;
      letter-spacing: -0.164px;
      color: $card-text;
      font-weight: bold;
    }

    p {
      font-family: Eina03;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.411765px;
      color: $black;
    }
  }
}

@media(max-width: 1025px) {
  section#five { 
    padding: 100px 0px;
    width: 100%;
    flex-direction: column;
    overflow: hidden;

    .card {
      opacity: 1;
      top: unset;
      margin-bottom: 20px;
      width: 100%;
      height: 80vw;
      padding-top: 12vw;
      padding-bottom: 12vw;

      &.card-0 {
        padding-left: 19vw;
        padding-right: 19vw;
      }
      &.card-1 {
        padding-left: 12vw;
        padding-right: 12vw;
      }
      &.card-2 {
        padding-left: 18vw;
        padding-right: 18vw;
      }

      h6 {
        font-size: 7vw;
      }
      p {
        font-size: 4vw;
        line-height: 4vw;
      }
    }
  }
}
