@import '../../variables.scss';

section#four {
  padding: 400px 101px;
  display: flex;
  align-items: center;

  .left {
    background-color: $yellow;
    width: 0px;
    height: 823px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 250px;

    .car {
      width: 120%;
    }

    .phone {
      position: absolute;
      left: 52%;
      opacity: 0;
      top: -20%;
      height: 725px;
      width: 338px;
      transform: translateY(-50%);
    }
  }

  .right {

    h1 {
      opacity: 0;
      top: -100px;
      position: relative;
      width: 544px;
      margin-bottom: 20px;
    }

    p {
      position: relative;
      top: -100px;
      width: 397px;
      opacity: 0;
    }
  }
}
