@import '../../variables.scss';

section#four {
  padding: 400px 6.25vw 0px 6.25vw;
  display: flex;
  align-items: center;

  .left {
    background-color: $yellow;
    width: 0px;
    height: 823px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 250px;

    .car {
      width: 120%;
    }

    .phone {
      position: absolute;
      left: 52%;
      opacity: 0;
      top: -20%;
      height: 725px;
      width: 338px;
      transform: translateY(-50%);
      box-shadow: 14px 18px 29px 11px rgba(0,0,0,0.28);
      border-radius: 35px;
    }
  }

  .right {

    h1 {
      opacity: 0;
      top: -100px;
      position: relative;
      width: 544px;
      margin-bottom: 20px;
    }

    p {
      position: relative;
      top: -100px;
      width: 397px;
      opacity: 0;
    }
  }
}

@media(max-width: 1100px) {
  section#four { 
    padding: 200px 19px 0px 19px;
    width: 100%;
    flex-direction: column;

    .right {
      width: 100%;

      h1, p {
        width: 100%;
        opacity: 1;
      }
    }

    .left {
      width: 80%;
      height: 518px;
      margin-right: 0px;
      left: -18%;

      .phone {
        opacity: 1;
        height: 80%;
        width: auto;
        top: 50%;
        border-radius: 20px;
      }
    }
  }
}
