@import '../../variables.scss';

section#three {
  width: 100%;
  padding: 0px 6.25vw;
  display: flex;
  align-items: center;

  .left {
    width: 40%;
    margin: 0px;
    height: 300px;
  }

  h2 {
    color: $dark-gray;
    margin-bottom: 20px;
    display: none;
    top: -100px;
    position: relative;
  }

  p {
    width: 338px;
    position: relative;
    top: -100px;
    display: none;
  }

  .right {
    height: 32vw;
    width: 0px;
    background-image: url('../../assets/images/map.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    .car {
      position: absolute;
      left: -70%;
      bottom: -7%;
      width: 40vw;
      opacity: 0;
    }

    .phone {
      position: absolute;
      left: 50%;
      top: -15%;
      transform: translate(-25%, -50%);
      opacity: 0;
      box-shadow: -14px 18px 29px 11px rgba(0,0,0,0.28);
      width: 18vw
    }
  }
}

@media(max-width: 1024px) {
  section#three { 
    padding: 150px 19px 0px 19px;
    flex-direction: column;

    .left {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    h2 {
      top: unset;
      display: block;
      margin-bottom: 10px;
      height: auto;
    }
    p {
      top: unset;
      display: block;
      width: auto;
    }

    .right {
      width: calc(100% + 19px + 19px);
      background-size: 118%;
      background-position: top right;
      background-repeat: no-repeat;
      height: 72vw;
      position: relative;
      margin-top: 23vw;
      margin-bottom: 23vw;

      .phone {
        width: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        height: auto;
        position: absolute;
        z-index: 3;
      }
    }
  }
}

