@import '../../variables.scss';

section#three {
  width: 100%;
  padding: 0px 6.25vw;
  display: flex;
  align-items: center;

  .left {
    width: 546px;
    margin: 0px;
    height: 300px;

    h1 {
      color: $dark-gray;
      margin-bottom: 20px;
      display: none;
      top: -100px;
      position: relative;
      height: 196px;
    }

    p {
      width: 338px;
      position: relative;
      top: -100px;
      display: none;
    }
  }

  .right {
    height: 513px;
    width: 0px;
    background-image: url('../../assets/images/map.png');
    background-size: cover;
    position: relative;

    .car {
      position: absolute;
      left: -50%;
      bottom: -7%;
      width: 500px;
      height: 145px;
      opacity: 0;
    }

    .phone {
      position: absolute;
      left: 50%;
      top: -15%;
      transform: translate(-25%, -50%);
      opacity: 0;
      box-shadow: -14px 18px 29px 11px rgba(0,0,0,0.28);
    }
  }
}

@media(max-width: 700px) {
  section#three { 
    padding: 150px 19px 0px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .left {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      h1 {
        top: unset;
        display: block;
        font-size: 43px;
        margin-bottom: 10px;
        height: auto;
      }
      p {
        top: unset;
        display: block;
      }
    }

    .right {
      width: calc(100% + 19px + 19px);
      background-size: 118%;
      background-position: right;
      background-repeat: no-repeat;
      height: 410px;

      .phone {
        width: 50%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        opacity: 1;
        height: 100%;
        box-shadow: -14px 18px 29px 11px rgba(0,0,0,0.28);
      }
    }
  }
}
