@import '../../variables.scss';

section#two {
  padding: 30vw 6.25vw;
  display: flex;
  align-items: center;

  .left {
    background-color: $yellow;
    width: 0px;
    height: 40vw;
    padding-left: 6vw;
    padding-top: 7vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .arrow-container {
      opacity: 0;
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 80px;
      padding: 45px;

      img {
        cursor: pointer;
      }
      .prev {
        transform: rotate(180deg);
        margin-right: 20px;
      }
    }

    .car-container {
      position: absolute;
      width: 50%;

      .desc {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        top: initial;
 
        .item {
          display: flex;
          align-items: center;
          font-family: Bebas Neue;
          font-size: 31px;
          line-height: 36px;
          font-weight: bold;
          color: $dark-gray;
          margin-bottom: 10px;
          width: auto;
          
          p {
            font-size: 1vw;
            width: 5vw;
            margin-left: 1vw;
          }
        }
      }
    }

    .image-1 {
      transform: scaleX(-1);
    }
    

    .car-image {
      width: 55vw;
      position: absolute;
      bottom: -85px;
      opacity: 0;
    }

    h4 {
      color: $black;
    }

    span {
      color: $light-gray;
      font-family: Bebas Neue;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 62px;
    }
  }

  .right {
    padding-left: 8vw;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 40vw;
    width: 60%;
  }
  h2 {
    color: $dark-gray;
    margin-bottom: 20px;
  }

  p {
    width: 60%;
  }
}


@media(max-width: 1025px) {
  section#two { 
    padding: 35vw 19px 0px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .right {
      padding-top: 0px;
      padding-left: 0px;
      width: 100%;
      height: auto;
      margin-bottom: 25px;
      order: 1;

      h2, p {
        width: 100%;
      }
    }

    .left {
      order: 2;
      width: 100%;
      height: 90vw;
      padding-left: 7vw;
      padding-top: 15vw;
      position: relative;

      .arrow-container {
        opacity: 1;
        padding: 9vw 12vw;

        img {
          width: 10%;

          &.next {
            margin-left: 2vw;
          }
        }
      }

      .car-container {
        width: 55%;
        height: 100%;

        .desc {
          opacity: 1;

          h4 {
            font-size: 10vw;
            margin-bottom: 5vw;
          }

          span {
            margin-bottom: 5vw;
            font-size: 4.5vw;
          }
          .item {
            font-size: 7vw;
            margin-bottom: 3.5vw;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: start;

            p {
              font-size: 3vw;
              width: 10vw;
            }
          }
        }
      }
      .car-image {
        opacity: 1;
        width: 100%;
        left: 0px;
        bottom: -45px;
        position: absolute;

        &.Porsche {
          transform: scaleX(-1);
        }
      }
    }
  }
}

