@import '../../variables.scss';

section#two {
  padding: 450px 6.25vw;
  display: flex;
  align-items: center;

  .left {
    background-color: $yellow;
    width: 0px;
    height: 661px;
    padding-left: 129px;
    padding-top: 181px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .arrow-container {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 80px;
      padding: 45px;

      img {
        cursor: pointer;
      }
      .prev {
        transform: rotate(180deg);
        margin-right: 20px;
      }
    }

    .car-container {
      position: absolute;

      .desc {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        top: initial;
  
        h4 {
          font-family: Bebas Neue;
          font-weight: bold;
          font-size: 64px;
          line-height: 75px;
          color: $black;
        }
  
        span {
          color: $light-gray;
          font-family: Bebas Neue;
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 62px;
        }
  
        .item {
          display: flex;
          align-items: flex-end;
          font-family: Bebas Neue;
          font-size: 31px;
          line-height: 36px;
          font-weight: bold;
          color: $dark-gray;
          margin-bottom: 10px;
  
          &::before {
            margin-right: 30px;
            width: 57px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
          
          &.mpg {  
            &::before {
              content: url('../../assets/images/mpg.png');
            }
          }
          &.hp {
            &::before {
              content: url('../../assets/images/hp.png');
            }
          }
          &.acc {
            &::before {
              content: url('../../assets/images/acc.png');
            }
          }
        }
      }
  
      .car-image {
        position: absolute;
        bottom: -90%;
        opacity: 0;
      }

      &.car-1 {
        .car-image {
          transform: scaleX(-1);
        }
      }
    }
  }

  .right {
    padding-left: 161px;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 661px;

    h1 {
      width: 546px;
      color: $dark-gray;
      margin-bottom: 20px;
    }

    p {
      width: 456px;
     
    }
  }
}


@media(max-width: 900px) {
  section#two { 
    padding: 130px 19px 0px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .right {
      padding-top: 0px;
      padding-left: 0px;
      width: 100%;
      height: auto;
      margin-bottom: 25px;

      h1, p {
        width: 100%;
      }
    }

    .left {
      width: 100%;
      height: 340px;
      padding-left: 30px;
      padding-top: 22px;
      position: relative;

      .arrow-container {
        opacity: 1;
      }

      .car-container {
        width: 50%;
        height: 100%;

        .desc {
          opacity: 1;

          h4 {
            font-size: 40px;
            line-height: 47px;
          }

          span {
            margin-bottom: 40px;
          }
        }
      }
      .car-image {
        opacity: 1;
        width: 100%;
        left: 0px;
        bottom: -60px;
        position: absolute;

        &.Porsche {
          transform: scaleX(-1);
        }
      }
    }
  }
}
