@import '../../variables.scss';

section#six {
  padding: 0px 6.25vw 250px 6.25vw;
  display: flex;
  flex-direction: row;

  .left {
    background-color: $yellow;
    width: 0px;
    height: 40vw;
    position: relative;
    margin-right: 98px;

    .dude {
      position: absolute;
      bottom: 0;
      left: 0%;
      transform: translateX(-55%);
      opacity: 0;
      width: 50%;
    }

    .car {
      position: absolute;
      bottom: -20%;
      left: 0%;
      width: 160%;
      opacity: 0;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;
    opacity: 0;
    top: -5%;

    span {
      margin-top: 15px;
      font-family: Eina03;
      font-size: 12px;
      line-height: 26px;
      letter-spacing: -0.352941px;
      font-weight: bold;
    }

    hr {
      height: 4px;
      background-color: $card-background;
      width: 100%;
      border: none;
      margin: 2vw 0px;
    }

    .available {
      margin-top: 0px;
      font-family: Eina03;
      font-size: 16px;
      line-height: 54px;
      letter-spacing: -0.470588px;
      color: $gray;
      display: flex;
      align-items: center;
      font-weight: bold;

      img {
        margin-left: 4vw;
      }
    }
    
  }
  h2 {
    margin-bottom: 20px;
  }
}

@media(max-width: 1025px) {
  section#six { 
    padding: 0px 19px 50px 19px;
    flex-direction: column;
    align-items: center;

    .right {
      order: 1;
      opacity: 1;
      top: unset;
      width: 100%;

      h1 {
        font-size: 45px;
        line-height: 48px;
        letter-spacing: -0.217059px;
      }
      span {
        font-size: 2.4vw;
        margin: 3vw 0;
      }
      .available {
        font-size: 4vw;
        line-height: 25px;
        margin: 4vw 0;

        img {
          width: 6vw;
          transform: translateY(10%);
        }
      }
    }

    .left {
      order: 2;
      width: calc(100% + 19px + 19px);
      margin-right: 0px;
      height: 120vw;

      .dude {
        opacity: 1;
        left: 50%;
        width: 75%;
        transform: translateX(-50%);
      }
    }
  }
}
