@import './variables.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

.App {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  section {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
    width: 100%;

    h1 {
      font-family: Bebas Neue;
      font-size: 8vw;
      line-height: 9vw;
      letter-spacing: -4.1px;
      font-weight: bold;
      text-transform: uppercase;
    }

    h2 {
      font-family: Bebas Neue;
      font-size: 5vw;
      line-height: 5vw;
      letter-spacing: -0.45px;
      font-weight: bold;
      text-transform: uppercase;
    }

    h4 {
      font-family: Bebas Neue;
      font-size: 4vw;
      line-height: 4vw;
      letter-spacing: -0.45px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p {
      font-family: Eina03;
      font-size: 1.3vw;
      line-height: 26px;
      letter-spacing: -0.470588px;
    }
  }
}

@media(max-width: 1024px) {

  .App {
    overflow: hidden;
    section {
      width: 100%;

      h1, h2 {
        font-family: Bebas Neue;
        font-size: 11vw;
        line-height: 12vw;
        letter-spacing: -0.217059px;
        font-weight: bold;
        text-transform: uppercase;
      }
    
      p {
        font-family: Eina03;
        font-size: 3.5vw;
        line-height: 5vw;
        letter-spacing: -0.47px;
      }
    }
  }
}

