@import '../../variables.scss';

footer {
  width: calc(100% - 6.25vw - 6.25vw);
  padding: 33.5px 0 109px 0;
  border-top: 1px solid $card-background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;

    a {
      cursor: pointer;
      font-family: Eina03;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: -0.323529px;
      color: $card-text;
      font-weight: bold;
    }
  }
}

@media(max-width: 1024px) {
  footer { 
    width: calc(100% - 19px - 19px);
    padding: 33px 0 40px 0;

    .logo {
      width: 30vw;
    }
  }
}
